* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0a0c0ef8;
}

.topnav {
  overflow: hidden;
  height: 100px;
  display: flex;
  background-image: linear-gradient(to right top, #000000, #0c0b0b, #0c0b0b, #141313, #141313, #141313,#1b1919, #1b1919, #1b1919, #211f1f, #211f1f, #262423, #2c2828, #312d2c, #363130);
}

.topnav a {
  text-decoration: none;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  color: #ddd;
  font-size: 30px;
  padding: 5px;
}

.topnav a:hover {
  text-shadow: 0px 2px 10px rgba(221, 221, 221, 0.5);
}

.topnav .add-button {
  background: transparent;
  color: #ffffff;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.topnav .add-button:hover {
  text-shadow: 0px 2px 10px rgba(221, 221, 221, 0.5);
}

.movies{
  margin: 20px 50px;
  text-align: center;
}

.card {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 400px;
  margin: 30px;
  color: #ffffff;
  background: url('https://assets-prd.ignimgs.com/2023/02/08/jw4-2025x3000-online-character-1sht-keanu-v187-1675886090936.jpg?fit=bounds&width=1280&height=720') center/cover no-repeat;
  filter: brightness(0.9);
  transition: 0.1s ease-in-out;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow:   0px 2px 7px 1px #ddd;
}

/* The movie name inside the card container */
.container {
  filter: brightness(2);
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-transform: capitalize;
  background-color: rgba(21, 20, 20, 0.664);
}

.loading, .error, .no-movies {
  text-align: center;
  color: #000000;
  font-size: 23px;
  margin: 150px;
}

.addMovie {
  padding: 50px 100px;
  background-color: rgba(21, 20, 20, 0.664);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  display: flex;
  align-items: center;
  margin:  10px;
}

.top-button{
  color: #eee;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  background-color: #0a0c0ef8;
}

.footer {
  position:relative;
  background-color: rgba(34, 32, 32, 0.599);
  left: 0;
  bottom: 0;
  color: #ddd;
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: 18px;
}

.form-card {
  width: auto;
  height: auto;
  padding: 20px;
  background-image: linear-gradient(to right top,#141313,#1b1919, #1b1919, #1b1919, #211f1f, #211f1f, #211f1f, #211f1f, #262423, #2c2828, #312d2c, #363130);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  filter: brightness(0.9);
  transition: 0.1s ease-in-out;
  text-align: center;
}

.form-card h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-card form {
  flex: 1;
  color: #ddd;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
}

.form-card input {
  margin: 0 5px;
  padding: 10px 10px;
  border-radius: 5px;
  height: auto;
  width: 500px;
  align-content: center;
  text-align: center;
  border: 0;
  font-size: 15px;
  margin: 5px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.form-card button {
  padding: 10px;
  background-image: linear-gradient(to right top, #211f1f, #262423, #2c2828, #312d2c, #363130);
  color: #ffffff;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
}

.form-card button:hover {
  box-shadow:   0px 2px 7px 1px #ddd;
}

.button {
  padding: 10px;
  background-image: linear-gradient(to right top, #211f1f, #262423, #2c2828, #312d2c, #363130);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}

.button:hover {
  box-shadow:   0px 2px 7px 1px #ddd;
}